<a href="https://colab.research.google.com/github/TOMASDELEON23/Estrategias-Comerciales-con-Datos/blob/main/assignments/Cleaning%20a%20dataset-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective

The objective of this notebook is get hands-on experience on cleaning a "dirty" dataset.
Often, datasets are created from "free-text" fields. In free-text fields, data validation is not enforced and as a result, many conventions co-exist within the same column of data.
Dirty data can also ocurr when collection information from different sources. If these sources use different conventions to represent such data, additional efforts are required to homogenize it at a later stage.

## Setup

In [1]:
!pip install -q eccd_datasets pygradus

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 MB 12.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 223.9/223.9 kB 23.6 MB/s eta 0:00:00

In [2]:
STUDENT_NAME = "tomas de leon"
COURSE_NAME = "eccd-oct23"
EXERCISE_NAME = "cleaning-a-dataset"

In [3]:
import pandas as pd
import numpy as np
from eccd_datasets import load_lingerie
from pygradus import create_exercise, check_solution

In [4]:
datasets = load_lingerie()

In [5]:
datasets.keys()

dict_keys(['ae_com', 'amazon_com', 'btemptd_com', 'calvinklein_com', 'hankypanky_com', 'macys_com', 'shop_nordstrom_com', 'us_topshop_com', 'victoriassecret_com'])

## The different datasets on their own

In [ ]:
datasets["ae_com"].head()

In [ ]:
datasets["amazon_com"].head()

### Joining all the datasets into one

In [10]:
df = pd.concat(datasets.values())

In [11]:
df.shape

(613143, 14)

# Calculating statistics on the dataset

## Unifying Victoria's Secret

In [21]:
def unify_victoria_secret(df):
    """
    We want that all brands that are related to Victoria's Secret
    have `victoria's secret` as their brand instead of what they
    currently have.
    """
    df = df.copy()
    new_string = "victoria's secret"

    vs= list(df.brand_name[df.brand_name.str.contains(r"Victoria")].unique())

    def Victoria(x):

        if x in vs:
            return new_string
        else:
            return x

    df['brand_name']=df['brand_name'].map(Victoria)

    return df

In [22]:
df_unified = unify_victoria_secret(df)

In [23]:
answer_victoria_secret =df_unified[df_unified["brand_name"] == "victoria's secret"].shape[0]
print(answer_victoria_secret)

453453

## Cleaning up the price

In this sectino we are going to transform the `price` column into a float column in USD dolars.

For this, be careful of the different formats in the data.

For simplicity, you might assume that all the prices are in USD dolars, regarding of the symbol of the currency used.

In [26]:
import re

def clean_price(df):
    """
    In this function we will transform the
    `price` column into a column of floats.
    In case a product has more than one price,
    return the lowest one.
    """

    # Write your code here

    def price_min(x):

      prices = re.findall(r'\d+\.\d+|\d+', x)
      prices = [float(price) for price in prices]
      return min(prices) if prices else None

    df['price']=df['price'].astype(str)
    df['price']=df['price'].apply(price_min)
    return df

In [27]:
df_clean = clean_price(df_unified)

In [28]:
answer_unified_price_sum = df_clean["price"].sum()
print(answer_unified_price_sum)

20191976.02

In [29]:
def low_high_product_mean(df):
    """
    Finally, we will calculate `product_category` with the lowest and highest mean price
    for the brand Victoria's Secret.
    """
    result_vs = df[df['brand_name']=="victoria's secret"][['product_category','price']].groupby('product_category').mean().reset_index().sort_values(by='price')
    lowest = float(result_vs.head(1)['price'])
    highest = float(result_vs.tail(1)['price'])
    return lowest,highest

In [30]:
lowest_mean, highest_mean = low_high_product_mean(df_clean)
assert np.allclose(lowest_mean, 3.6203030303030)
print("highest_mean", highest_mean)

highest_mean 98.0

In [31]:

proposed_solution = {
'attempt': {
    'course_name': COURSE_NAME,
    'exercise_name': EXERCISE_NAME,
    'username': STUDENT_NAME,
},
'task_attempts': [
         {
            "name": "victoria secret",
            "answer": str(answer_victoria_secret),
         },
         {
            "name": "price unification",
            "answer": str(answer_unified_price_sum),
         },
         {
            "name": "highest mean",
            "answer": str(highest_mean),
         },
]

}
check_solution(proposed_solution)

|                    Task Name                     |       Status       |
|--------------------------------------------------|--------------------|
|--------------------------------------------------|--------------------|
|                 victoria secret                  |      Correct       |
|--------------------------------------------------|--------------------|
|                price unification                 |      Correct       |
|--------------------------------------------------|--------------------|
|                   highest mean                   |      Correct       |
|--------------------------------------------------|--------------------|