<a href="https://colab.research.google.com/github/TOMASDELEON23/Estrategias-Comerciales-con-Datos/blob/main/assignments/Introduction%20to%20Python-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q pygradus

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 223.9/223.9 kB 3.2 MB/s eta 0:00:00

In [2]:
STUDENT_NAME = "tomas-de-leon"
COURSE_NAME = "eccd-oct23"
EXERCISE_NAME = "python-intro"

In [3]:
import numpy as np
from pygradus import create_exercise, check_solution

In [4]:
def remove_vowels(s: str) -> str:
    """
    This function removes all vowels from strings
    Example: "hello" -> "hll"
    """
    vowels = "AEIOUaeiouáéíóúÁÉÍÓÚ"
    result = ""

    for char in s:
        # Si el carácter no es una vocal, añadirlo al resultado
        if char not in vowels:
            result += char

    return result

frase = input("Ingresa una frase: ")
sin_vocales = remove_vowels(frase)

print("Frase s/ vocales:", sin_vocales)

Ingresa una frase: ksadgnaoeruihg pokaNSFDG
Frase s/ vocales: ksdgnrhg pkNSFDG

In [5]:
assert remove_vowels("hola") == "hl"
answer_1  = remove_vowels("este fue un buen día")
print(answer_1)

st f n bn d

In [6]:
def sum_list_of_floats(a: list, b:list) -> list:
    """
    Returns the coordinate wise sum of a and b.
    """
    if len(a) != len(b):
        raise ValueError("por favor introducir listas del mismo largho")

    calculo = [x + y for x, y in zip(a, b)]
    return calculo

lista1 = [8.9, 5, 3.63]
lista2 = [2, -5.25, 9]

try:
    answer_2 = sum_list_of_floats(lista1, lista2)
    print("Resultado:", answer_2)
except ValueError as e:
    print(e)

Resultado: [10.9, -0.25, 12.629999999999999]

In [7]:
assert np.allclose(
    sum_list_of_floats(
        [1, 2, 3], [4, 5, -2.3]),
    [5, 7, 0.7]
)
answer_2 = sum_list_of_floats([0, 0], [1, -1])
print(answer_2)

[1, -1]

In [8]:
proposed_solution = {
'attempt': {
    'course_name': COURSE_NAME,
    'exercise_name': EXERCISE_NAME,
    'username': STUDENT_NAME,
},
'task_attempts': [
         {
             "name": "remove_vowels",
             "answer": str(answer_1),
         },
                  {
             "name": "sum_floats",
             "answer": str(answer_2),
         }
]

}
check_solution(proposed_solution)

|                    Task Name                     |       Status       |
|--------------------------------------------------|--------------------|
|--------------------------------------------------|--------------------|
|                  remove_vowels                   |      Correct       |
|--------------------------------------------------|--------------------|
|                    sum_floats                    |      Correct       |
|--------------------------------------------------|--------------------|